<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ruddell.museumofthebible"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission
        android:name="com.ruddell.museumofthebible.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.ruddell.museumofthebible.permission.C2D_MESSAGE"/>

    <!-- Card.io Permissions: -->
    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- End Card.io permissions -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Database.BibleProvider"
            android:authorities="${applicationId}.Database.BibleProvider"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".Database.DatabaseService"
            android:exported="false"/>

        <!-- Firebase -->
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Activities -->

        <activity
            android:name=".Home.Home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Exhibits.ExhibitActivity"/>
        <activity android:name=".Map.MapActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZKMTP83pwkipu3u2xbE_TAB0Fw6PtQRM"/>

        <activity android:name=".Help.HelpActivity"/>
        <activity android:name=".Bible.BibleActivity"/>
        <activity
            android:name=".Ticketing.TicketActivity"
            android:screenOrientation="portrait"/>

        <!-- card.io activities: -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
        <activity
            android:name=".Exhibits.ExhibitDetailActivity"
            android:theme="@style/ExhibitDetailTheme"/>
        <activity android:name=".Facebook.FacebookActivity">
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <receiver android:name=".Widget.MOTBWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/motbwidget_info"/>
        </receiver>
    </application>

</manifest>